<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Metadata -->
    <meta charset="UTF-8" />
    <!-- Primary Meta Tags -->
    <meta
      name="title"
      content="Better QR - The Best and Affordable QR Code Solution"
    />
    <meta
      name="description"
      content="Discover Better QR, a modern and user-friendly platform for generating high-quality, customizable, and affordable QR codes. Perfect for businesses and individuals, Better QR offers advanced features, custom branding, and detailed analytics to meet all your QR code needs. Start now and experience the difference."
    />
    <meta
      name="keywords"
      content="Better QR, QR code generator, high-quality QR codes, customizable QR codes, affordable QR codes, QR code analytics, QR code branding, QR code solutions, generate QR codes, QR code platform"
    />
    <!-- End Primary Meta Tags -->

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:url" content="https://betterqr.app/" />
    <meta
      property="og:title"
      content="Better QR - The Best and Affordable QR Code Solution"
    />
    <meta
      property="og:description"
      content="Discover Better QR, a modern and user-friendly platform for generating high-quality, customizable, and affordable QR codes. Perfect for businesses and individuals, Better QR offers advanced features, custom branding, and detailed analytics to meet all your QR code needs. Start now and experience the difference."
    />
    <meta
      property="og:image"
      content="https://static.betterqr.app/logos/betterqr-banner-logo.png"
    />
    <!-- End Open Graph / Facebook -->

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://betterqr.app/" />
    <meta
      property="twitter:title"
      content="Better QR - The Best and Affordable QR Code Solution"
    />
    <meta
      property="twitter:description"
      content="Discover Better QR, a modern and user-friendly platform for generating high-quality, customizable, and affordable QR codes. Perfect for businesses and individuals, Better QR offers advanced features, custom branding, and detailed analytics to meet all your QR code needs. Start now and experience the difference."
    />
    <meta
      property="twitter:image"
      content="https://static.betterqr.app/logos/betterqr-banner-logo.png"
    />
    <!-- End Twitter -->

    <!-- Additional Meta Tags -->
    <meta name="theme-color" content="#3B82F6" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta name="revisit-after" content="7 days" />
    <meta name="author" content="Lagden Development" />
    <!-- End Additional Meta Tags -->

    <!-- Title -->
    <title>Better QR</title>
    <!-- End Title -->

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="https://static.betterqr.app/logos/betterqr-favicon.ico"
      type="image/x-icon"
    />

    <!-- Styles -->
    <link rel="stylesheet" href="/static/css/tailwind.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/static/css/pages/index.css" />
    <!-- End Styles -->

    <!-- Scripts -->
    <script src="/static/js/theme.js"></script>
    <!-- End Scripts -->
  </head>
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-EBR74MK4MZ"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-EBR74MK4MZ");
  </script>
  <!-- End Google tag (gtag.js) -->
  <body class="bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100">
    <nav class="dark:bg-gray-800 flex justify-between items-center p-4">
      <div class="logo">
        <img
          src="https://static.betterqr.app/logos/betterqr-text-logo-light.svg"
          alt="Better QR Logo"
          class="light-mode"
        />
        <img
          src="https://static.betterqr.app/logos/betterqr-text-logo-dark.svg"
          alt="Better QR Logo"
          class="dark-mode"
        />
      </div>
      <div class="links">
        <ul class="flex space-x-6">
          <li>
            <a href="#features" class="hover:text-light-blue">Features</a>
          </li>
          <li><a href="#about" class="hover:text-light-blue">About</a></li>
          <li><a href="#pricing" class="hover:text-light-blue">Pricing</a></li>
          <li><a href="#contact" class="hover:text-light-blue">Contact</a></li>
        </ul>
      </div>
      <div class="flex items-center space-x-3">
        <a
          href="/app"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          >Dashboard</a
        >
        <div class="theme-toggle">
          <button class="text-2xl"><i class="fas fa-moon"></i></button>
        </div>
      </div>
    </nav>

    <header class="text-center py-20 bg-blue-500 text-white dark:bg-blue-700">
      <h1 class="text-5xl font-bold mb-4">Welcome to Better QR</h1>
      <p class="text-2xl mb-8">The best and affordable QR code solution.</p>
      <a
        href="/signup"
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
        >Start Now</a
      >
    </header>

    <section id="features" class="py-20 bg-white text-center dark:bg-gray-800">
      <h2 class="text-4xl font-bold mb-10 text-gray-900 dark:text-gray-100">
        Why Choose Better QR?
      </h2>
      <div
        class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10"
      >
        <div class="p-6 border rounded dark:border-gray-700">
          <i class="fas fa-qrcode text-4xl mb-4 text-light-blue"></i>
          <h3 class="text-2xl font-bold mb-2 text-gray-900 dark:text-gray-100">
            High Quality
          </h3>
          <p>
            Generate high-quality QR codes that are easy to scan and look great
            on any material.
          </p>
        </div>
        <div class="p-6 border rounded dark:border-gray-700">
          <i class="fas fa-cogs text-4xl mb-4 text-light-blue"></i>
          <h3 class="text-2xl font-bold mb-2 text-gray-900 dark:text-gray-100">
            Customizable
          </h3>
          <p>Fully customizable QR codes to match your branding needs.</p>
        </div>
        <div class="p-6 border rounded dark:border-gray-700">
          <i class="fas fa-dollar-sign text-4xl mb-4 text-light-blue"></i>
          <h3 class="text-2xl font-bold mb-2 text-gray-900 dark:text-gray-100">
            Affordable
          </h3>
          <p>
            Unlike other providers, we offer a cost-effective solution for
            everyone.
          </p>
        </div>
      </div>
    </section>

    <hr />

    <section
      id="about"
      class="py-20 bg-white text-gray-900 text-center dark:bg-gray-700 dark:text-gray-100"
    >
      <div class="max-w-4xl mx-auto">
        <h2 class="text-4xl font-bold mb-6">What is Better QR?</h2>
        <p class="text-xl">
          Better QR is a modern, easy-to-use platform for generating QR codes
          and managing them. We offer a wide range of features to help you
          create the perfect QR code for your needs. Whether you're looking to
          create a simple text QR code or a more complex one with a logo, we've
          got you covered. We offer analytics, custom branding, and more to help
          you get the most out of your QR codes. Try Better QR today and see the
          difference for yourself!
        </p>
      </div>
    </section>

    <hr />

    <section id="pricing" class="py-20 bg-white text-center dark:bg-gray-800">
      <h2 class="text-4xl font-bold mb-10 text-gray-900 dark:text-gray-100">
        Our Pricing
      </h2>
      <p class="text-xl mb-10 text-gray-700 dark:text-gray-300">
        The service is completely free until I can't afford to host it on a
        basic server. I'm a singular developer working alone. You can support my
        work on
        <a
          href="https://github.com/zachlagden"
          target="_blank"
          class="text-blue-600"
          >GitHub</a
        >.
      </p>
    </section>

    <footer class="py-6 bg-gray-900 text-white text-center dark:bg-gray-700">
      <div class="footer-container">
        <div class="footer-left">
          &copy; 2024 Lagden Development. All rights reserved.
        </div>
        <div class="footer-center">
          <a
            href="https://github.com/Lagden-Development/betterqr"
            class="hover:text-light-blue"
            ><i class="fab fa-github"></i
          ></a>
        </div>
        <div class="footer-right">
          <a href="/privacy" class="hover:text-light-blue mx-2"
            >Privacy Policy</a
          >
          <a href="/terms" class="hover:text-light-blue mx-2"
            >Terms of Service</a
          >
        </div>
      </div>
    </footer>
    <script type="text/javascript">
      var messages = {{ get_flashed_messages(with_categories=true) | tojson }};
      function displayMessages(messages) {
        messages.forEach(function (message) {
          var category = message[0];
          var text = message[1];
          switch (category) {
            case 'success':
              toastr.success(text);
              break;
            case 'info':
              toastr.info(text);
              break;
            case 'warning':
              toastr.warning(text);
              break;
            case 'danger':
            case 'error':
              toastr.error(text);
              break;
            default:
              toastr.info(text);
              break;
          }
        });
      }
      displayMessages(messages);
    </script>
  </body>
</html>
