<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Better QR</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/tailwind.css" />
    <style>
      nav {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0.65rem;
      }

      .logo {
        flex-shrink: 0;
        width: 200px;
        height: auto;
      }

      .logo img {
        display: block;
      }

      .logo img.light-mode {
        display: none;
      }

      .dark .logo img.light-mode {
        display: block;
      }

      .logo img.dark-mode {
        display: block;
      }

      .dark .logo img.dark-mode {
        display: none;
      }

      .dark hr {
        display: none;
      }

      .links {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      .theme-toggle {
        margin-left: auto;
      }

      header {
        background-image: url("https://static.betterqr.app/assets/header-blobs-light.svg");
        background-size: cover;
      }

      .dark header {
        background-image: url("https://static.betterqr.app/assets/header-blobs-dark.svg");
      }
    </style>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const themeToggle = document.querySelector(".theme-toggle button");
        const icon = themeToggle.querySelector("i");

        function setDarkMode(isDark) {
          if (isDark) {
            document.documentElement.classList.add("dark");
            icon.classList.remove("fa-moon");
            icon.classList.add("fa-sun");
          } else {
            document.documentElement.classList.remove("dark");
            icon.classList.remove("fa-sun");
            icon.classList.add("fa-moon");
          }
        }

        // Load initial theme
        const isDarkMode = localStorage.getItem("dark-mode") === "true";
        setDarkMode(isDarkMode);

        themeToggle.addEventListener("click", () => {
          const isDarkMode = document.documentElement.classList.toggle("dark");
          localStorage.setItem("dark-mode", isDarkMode);
          setDarkMode(isDarkMode);
        });
      });
    </script>
  </head>
  <body class="bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100">
    <nav class="dark:bg-gray-800">
      <div class="logo">
        <img
          src="https://static.betterqr.app/logos/betterqr-text-logo-light.svg"
          alt="Better QR Logo"
          class="light-mode"
        />
        <img
          src="https://static.betterqr.app/logos/betterqr-text-logo-dark.svg"
          alt="Better QR Logo"
          class="dark-mode"
        />
      </div>
      <div class="links">
        <ul class="flex space-x-6">
          <li>
            <a href="#features" class="hover:text-light-blue">Features</a>
          </li>
          <li><a href="#about" class="hover:text-light-blue">About</a></li>
          <li><a href="#pricing" class="hover:text-light-blue">Pricing</a></li>
          <li><a href="#contact" class="hover:text-light-blue">Contact</a></li>
        </ul>
      </div>
      <div class="theme-toggle">
        <button class="text-2xl"><i class="fas fa-moon"></i></button>
      </div>
    </nav>

    <header class="text-center py-20 bg-blue-500 text-white dark:bg-blue-700">
      <h1 class="text-5xl font-bold mb-4">Welcome to Better QR</h1>
      <p class="text-2xl mb-8">The best and affordable QR code solution.</p>
      <a
        href="#features"
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
        target="_blank"
        >Learn More</a
      >
    </header>

    <section id="features" class="py-20 bg-white text-center dark:bg-gray-800">
      <h2 class="text-4xl font-bold mb-10 text-gray-900 dark:text-gray-100">
        Why Choose Better QR?
      </h2>
      <div
        class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10"
      >
        <div class="p-6 border rounded dark:border-gray-700">
          <i class="fas fa-qrcode text-4xl mb-4 text-light-blue"></i>
          <h3 class="text-2xl font-bold mb-2 text-gray-900 dark:text-gray-100">
            High Quality
          </h3>
          <p>
            Generate high-quality QR codes that are easy to scan and look great
            on any material.
          </p>
        </div>
        <div class="p-6 border rounded dark:border-gray-700">
          <i class="fas fa-cogs text-4xl mb-4 text-light-blue"></i>
          <h3 class="text-2xl font-bold mb-2 text-gray-900 dark:text-gray-100">
            Customizable
          </h3>
          <p>Fully customizable QR codes to match your branding needs.</p>
        </div>
        <div class="p-6 border rounded dark:border-gray-700">
          <i class="fas fa-dollar-sign text-4xl mb-4 text-light-blue"></i>
          <h3 class="text-2xl font-bold mb-2 text-gray-900 dark:text-gray-100">
            Affordable
          </h3>
          <p>
            Unlike other providers, we offer a cost-effective solution for
            everyone.
          </p>
        </div>
      </div>
    </section>

    <hr />

    <section
      id="about"
      class="py-20 bg-white text-gray-900 text-center dark:bg-gray-700 dark:text-gray-100"
    >
      <div class="max-w-4xl mx-auto">
        <h2 class="text-4xl font-bold mb-6">What is Better QR?</h2>
        <p class="text-xl">
          Better QR is a modern, easy-to-use platform for generating QR codes
          and managing them. We offer a wide range of features to help you
          create the perfect QR code for your needs. Whether you're looking to
          create a simple text QR code or a more complex one with a logo, we've
          got you covered. We offer analytics, custom branding, and more to help
          you get the most out of your QR codes. Try Better QR today and see the
          difference for yourself!
        </p>
      </div>
    </section>

    <hr />

    <section id="pricing" class="py-20 bg-white text-center dark:bg-gray-800">
      <h2 class="text-4xl font-bold mb-10 text-gray-900 dark:text-gray-100">
        Our Pricing
      </h2>
      <p class="text-xl mb-10 text-gray-700 dark:text-gray-300">
        The service is completely free until I can't afford to host it on a
        basic server. I'm a singular developer working alone. You can support my
        work on
        <a
          href="https://github.com/zachlagden"
          target="_blank"
          class="text-blue-600"
          >GitHub</a
        >.
      </p>
    </section>

    <footer class="py-6 bg-gray-900 text-white text-center dark:bg-gray-700">
      <div class="max-w-6xl mx-auto flex justify-between items-center">
        <div>
          &copy; 2024
          <a href="https://github.com/Lagden-Development">Lagden Development</a
          >. All rights reserved.
        </div>
        <div>
          <a
            href="https://github.com/Lagden-Development/betterqr"
            class="hover:text-light-blue"
            ><i class="fab fa-github"></i
          ></a>
        </div>
        <div>
          <a href="/privacy" class="hover:text-light-blue mx-2"
            >Privacy Policy</a
          >
          <a href="/terms" class="hover:text-light-blue mx-2"
            >Terms of Service</a
          >
        </div>
      </div>
    </footer>
  </body>
</html>
